{{!--
  This template renders a featured post card.
--}}

<article
  class="f-featured-post {{post_class}} post-access-{{visibility}} {{^if feature_image}}no-image{{/if}} {{#if @last}}last{{/if}}"
>
  {{#if feature_image}}
    <div class="f-featured-post__image">
      <img
        data-src="{{img_url feature_image size='m'}}"
        data-srcset="
          {{img_url feature_image size='m'}} 750w,
          {{img_url feature_image size='l'}} 1050w
        "
        sizes="(max-width: 48rem) 46.875rem, 65.625rem"
        alt=""
        class="lazy"
        width="1200"
        height="470"
      >
    </div>
  {{/if}}
  <div class="f-featured-post__content">
    <div class="f-post-card__body">
      <div class="f-post-card__body__top">
        <div class="f-post-card__header in-featured-post">
          <span class="f-featured-post__label">{{t "Featured"}}</span>
          <span class="f-access-tag in-post-card-header {{visibility}}">
            {{t visibility}}
          </span>
        </div>
        {{#if primary_tag}}
          <a href="{{primary_tag.url}}" class="f-post-card__tag as-featured">
            {{primary_tag.name}}
            <span class="icon-chevron-right" aria-hidden="true"></span>
          </a>
        {{/if}}
        <a href="{{url}}" class="f-featured-post__title">
          <h2>{{title}}</h2>
        </a>
        {{#if custom_excerpt}}
          <p class="f-featured-post__excerpt">{{custom_excerpt}}</p>
        {{/if}}
      </div>
      <div class="f-post-card__body__bottom">
        <div class="f-post-card__metas as-featured">
          <div class="f-post-card__author">
            {{> avatar 
              avatar_url=primary_author.url
              avatar_class="in-post-card"
              avatar_image=(img_url primary_author.profile_image size="xxs")
              avatar_alt=(t "{label}'s profile'" label=primary_author.name)
              has_popup="false"
            }}
            <span>
              {{t "By"}} 
              <a href="{{primary_author.url}}">{{primary_author.name}}</a>
            </span>
          </div>
          <span class="f-post-card__metas-divider">&bull;</span>
          <span class="f-post-card__date">
            {{date published_at timeago="true"}}
          </span>
        </div>
      </div>
    </div>
  </div>
</article>
