{{!--
  This template renders the newsletter form.
--}}

{{!-- <form
  data-members-form="subscribe"
  id="newsletter-form"
  class="f-auth-form {{^if feature_image}}no-image{{/if}}"
> --}}
<div id="newsletter-form" class="f-auth-form {{^if feature_image}}no-image{{/if}}">

  <h1 class="f-auth-form__title">
    {{t "Want to build on Dyte?"}}
  </h1>
  <p class="f-auth-form__subtitle">
    {{t "Get 10,000 free minutes every month!" blogtitle=@blog.title}}
  </p>
  <div
    class="f-auth-form__fieldset {{^if feature_image}}no-image{{/if}}"
  >
    {{!-- <label for="newsletter-input" class="sr-only">
      {{t "Your email address"}}
    </label>
    <input
      data-members-email
      id="newsletter-input"
      class="f-auth-form__input no-appearance"
      type="email"
      required
      placeholder="{{t "Your email address"}}"
    /> --}}
    <a href="https://dev.dyte.in/signup" target="_blank">
      <button
        id="newsletter-button"
        class="f-button primary medium in-auth-form"
      >
        {{t "Sign up & get started"}}
        <span class="icon-chevron-right" aria-hidden="true"></span>
      </button>
    </a>
  </div>
  <p class="f-auth-form__success">
    {{t "🎉 Awesome! Now check your inbox and click the link to confirm your subscription."}}
  </p>
  <p class="f-auth-form__invalid f-error-message bottom-space">
    {{t "Please enter a valid email address"}}
  </p>
  <p class="f-auth-form__error f-error-message bottom-space">
    {{t "Oops! There was an error sending the email, please try later"}}
  </p>
</div>
{{!-- </form> --}}
