{{!--
  This template is used for all 404 errors, which might occur on your site.
--}}

{{!-- This block preloads specific assets for the 404 page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/404.css"}}" as="style" />
{{/contentFor}}

{{!-- This block loads specific styles for the 404 page --}}
{{#contentFor "styles"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{asset "css/404.css"}}"
    media="screen"
  />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="f-main-container">
  {{> header}}
  <div class="f-404-container">
    <main class="f-404-container__wrapper" role="main">
      <div class="f-404-content">
        <h1 class="f-404-content__title">404</h1>
        <p class="f-404-content__subtitle">
          {{t "Page not found. Unfortunately the page you were looking for could not be found."}}
        </p>
        <a href="{{@site.url}}" class="f-button primary">
          {{t "Go to homepage"}}
          <span class="icon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </main>
    {{> blob-shape}}
  </div>
</div>